:root {
  --primary-color: #f9ebed;
  --secondary-color: #ffffff;
  --branding-color: #d87e8c;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: var(--primary-font);
}
h2 {
  font-size: 64px;
  line-height: 1.2;
}
p {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h1 {
  font-size: 96px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.hero p {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
}
.project-description {
  color: #8f6062;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
}
.flower-project-padding {
  padding: 85px 30px;
}
.weather-project-padding {
  padding: 0 30px;
}
.project-content img {
  border-radius: 5px;
}
.section-content {
  padding: 160px 20px;
}
.section-content h1 {
  font-size: 64px;
  line-height: 80px;
}
.section-content h2 {
  font-size: 18px;
  font-family: var(--secondary-font);
}
.section-content p {
  font-size: 16px;
  opacity: 0.7;
}
@media (max-width: 900px) {
  .project-description {
    text-align: center;
  }
  .hero h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    text-align: center;
    font-size: 44px;
  }
  .btn-branding-outline {
    display: block;
    margin: 0 auto;
  }
  .flower-project-padding {
    padding: 10px 30px;
  }
  .section-content {
    padding: 0;
    text-align: center;
  }
}
