:root {
  --primary-color: #f9ebed;
  --secondary-color: #ffffff;
  --branding-color: #d87e8c;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--primary-font);
}
h2 {
  font-size: 64px;
  line-height: 1.2;
}
p {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 30px;
}
nav {
  margin: 10px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
.active {
  color: var(--branding-color);
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  margin-right: 15px;
  font-size: 16px;
  line-height: 42px;
  list-style: none;
}
footer h4 {
  font-size: 48px;
}
footer p {
  font-size: 16px;
  line-height: 30px;
  opacity: 70%;
  margin-bottom: 0;
  color: #8f6062;
}
.mail-link {
  color: black;
  font-size: 24px;
  text-decoration: none;
}
.mail-link:hover {
  color: var(--branding-color);
}
.hero {
  background-color: var(--primary-color);
  padding: 80px 20px;
  text-align: center;
}
.hero h1 {
  font-size: 96px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.hero p {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
}
.project-description {
  color: #8f6062;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}
.btn-branding:hover {
  background-color: var(--secondary-color);
  color: var(--branding-color);
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  transition: all 100ms ease-in-out;
}
.btn-branding-outline:hover {
  color: var(--secondary-color);
  background-color: var(--branding-color);
}

.flower-project-padding,
.weather-project-padding {
  padding: 85px 30px;
}
.project-content img {
  border-radius: 5px;
}
.section-content {
  padding: 80px 20px;
}
.section-content h1 {
  font-size: 64px;
  line-height: 80px;
}
.section-content h2 {
  font-size: 18px;
  font-family: var(--secondary-font);
}
.section-content p {
  font-size: 16px;
  color: #8f6062;
}
.work-content-image {
  height: 500px;
}
.logo {
  max-height: 40px;
}

.contact-box {
  background-color: var(--primary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
.social-links {
  color: var(--branding-color);
  font-size: 20px;
  background-color: var(--primary-color);
  padding: 15px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.social-links:hover {
  color: var(--primary-color);
  background-color: var(--branding-color);
}
@media (max-width: 900px) {
  h2 {
    text-align: center;
    font-size: 44px;
  }
  nav li {
    margin-right: 10px;
  }
  .project-description {
    text-align: center;
  }
  .hero h1 {
    font-size: 44px;
    line-height: 2;
  }

  .btn-branding-outline {
    display: block;
    margin: 0 auto;
  }
  .flower-project-padding {
    padding: 10px 30px;
  }
  .section-content {
    padding: 0;
    text-align: center;
  }
}
